<div class="foreach:ff-monospace bg-black b-none br-20px w-100% flexColumn flexLeft p-16px g-16px shadow ff-monospace">
    <div class="flex g-8px">
        <div class="p-6px br-50% bg-rgba(128,128,128,.5)"></div>
        <div class="p-6px br-50% bg-rgba(128,128,128,.5)"></div>
        <div class="p-6px br-50% bg-rgba(128,128,128,.5)"></div>
    </div>
    <div class="flex g-8px of-hidden">
        <div class="br-20px fs-12px fw-600 p-4px-10px b-none b-1px-solid-cherry60 c-cherry60 bg-cherry10">pixelbite.conf</div>
        <div class="br-20px fs-12px fw-600 p-4px-10px c-rgba(128,128,128,.7)">index.html</div>
        <div class="br-20px fs-12px fw-600 p-4px-10px c-rgba(128,128,128,.7)">script.js</div>
        <div class="br-20px fs-12px fw-600 p-4px-10px c-rgba(128,128,128,.7)">style.css</div>
    </div>
    <div class="w-100%">
<pre class="m-0 numberedLines fs-14px c-orange"><span><code class="c-cherry60">[</code>informations<code class="c-cherry60">]</code></span>
<span>author <code class="c-white70">=</code> <code class="c-cherry60">"neostetic"</code></span>
<span>author_url <code class="c-white70">=</code> <code class="c-cherry60">"https://github.com/neostetic"</code></span>
<span>description <code class="c-white70">=</code> <code class="c-cherry60">"Please use guide that is on https://github.com/Pixelbite-CSS."</code></span>
<span>theme_name <code class="c-white70">=</code> <code class="c-cherry60">"General"</code></span>
<span>theme_version <code class="c-white70">=</code> <code class="c-cherry60">"1.0"</code></span>
<span>theme_date <code class="c-white70">=</code> <code class="c-cherry60">"1/1/1999"</code></span>
<span class="highlight">theme_url <code class="c-white70">=</code> <code class="c-cherry60">"https://github.com/neostetic"</code></span>
<span><code class="c-white40"># style = "background:black;color:white"</code></span>
<span></span>
<span><code class="c-cherry60">[</code>general<code class="c-cherry60">]</code></span>
<span>configs <code class="c-white70">=</code> <code class="c-cherry60">[]</code></span>
<span>fontawesome <code class="c-white70">=</code> <code class="c-cherry60">"https://kit.fontawesome.com/custom.js"</code></span>
<span><code class="c-white40"># debug = true</code></span>
<span></span>
<span><code class="c-cherry60">[</code>components<code class="c-cherry60">]</code></span>
<span>customComponent <code class="c-white70">=</code> <code class="c-cherry60">"./components/custom_component.html"</code></span>
<span>customButton <code class="c-white70">=</code> <code class="c-cherry60">"./components/custom_button.html"</code></span>
<span></span>
<span><code class="c-cherry60">[</code>variables<code class="c-cherry60">]</code></span>
<span>primary <code class="c-white70">=</code> <code class="c-cherry60">"#FA2A55"</code></span>
<span>secondary <code class="c-white70">=</code> <code class="c-cherry60">"#B51838"</code></span>
<span></span>
<span><code class="c-cherry60">[</code>colors<code class="c-cherry60">]</code></span>
<span>cherry <code class="c-white70">=</code> <code class="c-cherry60">"#FA2A55"</code></span>
<span><code class="c-white40"># red = "#FF0000"</code></span>
<span><code class="c-white40"># green = "#00FF00"</code></span>
<span><code class="c-white40"># blue = "#0000FF"</code></span></code></pre>
    </div>
</div>