<div class="auto-width flex flexDirection-row flexJustifyContent-space_between flexLeft min1000:flexDirection-column p-86px-32px g-8px">
    <div class="p-12px w-100%">
        <h3>PixelbiteCSS</h3>
        <div class="fs-14px mb-12px">
            Join our Github group and become one of our developers.
        </div>
        <a href="https://github.com/Pixelbite-CSS" target="_blank" class="fs-14px td-none c-white bg-primary d-inline_block p-6px-18px br-6px fw-600">
            Visit Github
            <i class="fa-solid fa-arrow-right-long ml-20px"></i>
        </a>
    </div>
    <div class="p-12px w-100%">
        <h3 class="fw-600 fs-24px">CATEGORIES</h3>
        <div class="flexColumn flexLeft o-.8 g-14px mt-24px fs-16px">
            <a href="./${backfolder}/" class="td-none c-black dark:c-white">Landing page</a>
            <a href="./${backfolder}/docs/" class="td-none c-black dark:c-white">Documentation</a>
            <a href="./${backfolder}/examples" class="td-none c-black dark:c-white">Example templates</a>
            <a href="./${backfolder}/news" class="td-none c-black dark:c-white">News articles</a>
            <a href="./${backfolder}/cheatsheet" class="td-none c-black dark:c-white">Cheatsheet</a>
        </div>
    </div>
    <div class="p-12px w-100%">
        <h3 class="fw-600 fs-24px">ABOUT</h3>
        <div class="flexColumn flexLeft o-.8 g-14px mt-24px fs-16px">
            <a href="./${backfolder}/news/development-team" class="td-none c-black dark:c-white">Development team</a>
            <a href="./${backfolder}/news/contacts" class="td-none c-black dark:c-white">Contacts</a>
        </div>
    </div>
    <div class="p-12px w-100%">
        <h3 class="fw-600 fs-24px">Join us</h3>
        <div class="flexColumn flexLeft o-.8 g-14px mt-24px fs-16px">
            <a href="https://github.com/Pixelbite-CSS" target="_blank" class="td-none c-black dark:c-white">Github</a>
        </div>
    </div>
</div>
<div class="w-100% bg-cherry60 c-white dark:bg-cherry40 p-24px ta-center fs-14px">
    Copyright <i class="fa-regular fa-copyright"></i> 2023 all rights reserved Pixelbite-CSS
</div>