<div class="auto-width flex flexDirection-row flexJustifyContent-space_between flexLeft min1000:flexDirection-column p-86px-32px g-8px">
    <div class="p-12px w-200%">
        <h3>PixelbiteCSS</h3>
        <div class="fs-14px mb-12px">
            Join our Github group and become one of our developers.
        </div>
        <a href="https://github.com/Pixelbite-CSS" target="_blank" class="fs-14px td-none c-white bg-primary d-inline_block p-6px-18px br-6px fw-600">
            Visit Github
            <i class="fa-solid fa-arrow-right-long ml-20px"></i>
        </a>
    </div>
    <div class="p-12px w-100%">
        <h3 class="fw-600 fs-24px">LINKS</h3>
        <div class="flexColumn flexLeft o-.8 g-14px mt-24px fs-16px">
            <a href="./${backfolder}/" class="td-none c-black dark:c-white">Home</a>
            <a href="./${backfolder}/docs/" class="td-none c-black dark:c-white">Docs</a>
            <a href="./${backfolder}/examples" class="td-none c-black dark:c-white">Examples</a>
            <a href="./${backfolder}/themes" class="td-none c-black dark:c-white">Themes</a>
            <a href="./${backfolder}/news" class="td-none c-black dark:c-white">News</a>
        </div>
    </div>
    <div class="p-12px w-100%">
        <h3 class="fw-600 fs-24px">EXAMPLES</h3>
        <div class="flexColumn flexLeft o-.8 g-14px mt-24px fs-16px">
            <a href="./${backfolder}/examples/blank-template" class="td-none c-black dark:c-white">Blank template</a>
            <a href="./${backfolder}/examples/cheatsheet" class="td-none c-black dark:c-white">Cheatsheet</a>
            <a href="./${backfolder}/examples/blog" class="td-none c-black dark:c-white">Blog</a>
            <a href="./${backfolder}/examples/dashboard" class="td-none c-black dark:c-white">Dashboard</a>
        </div>
    </div>
    <div class="p-12px w-100%">
        <h3 class="fw-600 fs-24px">COMMUNITY</h3>
        <div class="flexColumn flexLeft o-.8 g-14px mt-24px fs-16px">
            <a href="https://github.com/Pixelbite-CSS/pixelbite-css/issues" target="_blank" class="td-none c-black dark:c-white">Issues</a>
            <a href="https://github.com/orgs/Pixelbite-CSS/discussions" target="_blank" class="td-none c-black dark:c-white">Discussions</a>
            <a href="https://github.com/Pixelbite-CSS/pixelbite-css" target="_blank" class="td-none c-black dark:c-white">Repository</a>
            <a href="https://github.com/orgs/Pixelbite-CSS/discussions/6" target="_blank" class="td-none c-black dark:c-white">Submit question</a>
            <a href="https://github.com/orgs/Pixelbite-CSS/discussions/3" target="_blank" class="td-none c-black dark:c-white">Submit theme</a>
        </div>
    </div>
    <div class="p-12px w-100%">
        <h3 class="fw-600 fs-24px">ABOUT US</h3>
        <div class="flexColumn flexLeft o-.8 g-14px mt-24px fs-16px">
            <a href="./${backfolder}/team" class="td-none c-black dark:c-white">Development team</a>
            <a href="./${backfolder}/contacts" class="td-none c-black dark:c-white">Contacts</a>
            <br>
            <h3 class="fw-600 fs-24px">Socials</h3>
            <a href="https://github.com/Pixelbite-CSS" target="_blank" class="td-none c-black dark:c-white">Github</a>
        </div>
    </div>
</div>
<div class="w-100% bg-cherry60 c-white dark:bg-cherry40 p-24px ta-center fs-14px">
    Copyright <i class="fa-regular fa-copyright"></i> 2023 all rights reserved <a href="https://github.com/orgs/Pixelbite-CSS" class="c-white" target="_blank">PixelbiteCSS</a>
</div>