<div class="w-280px p-0-0-12px-0 flexColumn flexLeft g-12px">
    <div class="br-6px b-1px-solid-cherry70 dark:b-1px-solid-cherry30 w-100% p-4px flexCenter flexMiddle">
        <img class="ar-16/9 br-3px" src="${img}" width="100%"/>
    </div>
    <div>
        <a href="${link}" class="fs-18px">${title}</a><br>
        <div class="fs-14px fw-300 o-.7 pb-4px">
            ${description}
        </div>
        <div class="fs-13px o-.7 p-6px-0 flexRow g-12px">
            <a href="${link}" class="td-none c-gray"><i class="fa-solid fa-arrow-up-right-from-square"></i> <span class="td-underline">Visit</span></a>
            <!-- <a href="${link-edit}" class="td-none c-gray"><i class="fa-solid fa-pen-to-square"></i> <span class="td-underline">Edit in Playground</span></a> -->
        </div>
    </div>
</div>