<div class="w-380px p-0-0-18px-0 flexRow flexLeft g-12px">
    <div class="fs-18px o-.7">
        <i class="fa-regular fa-file-zipper"></i>
    </div>
    <div>
        <a href="${link}" class="fs-18px">${title}</a><br>
        <div class="fs-14px o-.7 pb-4px">
            ${description}
        </div>
        <div class="fs-13px o-.7 p-6px-0">
            <a href="${link}" class="td-none c-gray"><i class="fa-solid fa-file-arrow-down"></i> <span class="td-underline">Download</span></a>
        </div>
    </div>
</div>